@font-face {
    font-family: 'White Rabbit';
    src: url('WhiteRabbit.woff2') format('woff2'),
        url('WhiteRabbit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'arvoregular';
    src: url('fonts/webfontkit-20250823-064853/arvo-regular-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20250823-064853/arvo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'arvobold';
    src: url('arvo-bold-webfont.woff2') format('woff2'),
         url('arvo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loadedregular';
    src: url('loaded-webfont.woff2') format('woff2'),
         url('loaded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    min-height: 100vh;
}

.container{
    height: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

div{

    color: rgb(0, 167, 28);
}