@font-face {
    font-family: 'White Rabbit';
    src: url('WhiteRabbit.woff2') format('woff2'),
        url('WhiteRabbit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

